<div class="well">
    <div class="media">

        <!-- Mood -->
        <span class="pull-left">
            <i class="<%= get_mood(post.mood_id) %> icon mood" %></i>
        </span>

        <!-- Time -->
        <small class="text-left text-muted pull-left">
            <%= time_ago_in_words(post.created_at) %> ago
        </small>

        <!-- Admin sticker -->
        <% if ! post.user.nil? && post.user.admin == true %>
            <span class="pull-left stamp">mytwocents.io</span>
        <% end %>

        <!-- Comments -->
        <span class="pull-right">
                <small class="cents purple"><%= post.get_cents %>&cent;</small>
            <% if @show.nil? %>
                <% if post.comments.count > 0 %>
                    <%= link_to '<i class="fa fa-comments icon"></i>'.html_safe, post_path(post.id) %>
                <% else %>
                    <%= link_to '<i class="fa fa-comment-o icon"></i>'.html_safe, post_path(post.id) %>
                <% end %>
            <% else %>
                <% if post.comments.count > 0 %>
                    <i class="fa fa-comments icon mood"></i>
                <% else %>
                    <i class="fa fa-comment-o icon mood"></i>
                <% end %>
            <% end %>
        </span>
        <div class="clearfix"></div>

        <!-- Post -->
        <div class="media-body">
            <% if post.content.length > 500 && @show.nil? %>
                <%= auto_link(simple_format(h truncate post.content, length: 500), html: {rel: "nofollow"} ) %>
                <%= link_to "<small>Read more</small>".html_safe, post  %>
            <% else %>
                <%= auto_link(simple_format(h post.content), html: {rel: "nofollow"} ) %>
            <% end %>
        </div>

        <% if user_signed_in? && current_user.admin == true %>
            <%= link_to "Delete ##{post.id}", post, method: :delete, data: { confirm: "Del?" } %>
        <% end %>
    </div>
</div>
