<%= render 'new_post_modal' %>

<% if @post_modal == true %>
    <% @post_modal = false %>
    <%= javascript_tag "$('#myModal').modal('show')" %>
<% end %>

<% if cookies[:welcome].nil? %>
    <%  cookies.permanent[:welcome] = true%>
    <%= render 'welcome_modal' %>
    <%= javascript_tag "$('#welcomeModal').modal('show')" %>
<% end %>

<% if session[:filter] == 'new' || session[:filter].nil? %>
    <% new = "btn-filter-a" %>
    <% comment = "" %>
<% elsif session[:filter] == 'comment'%>
    <% new = "" %>
    <% comment = "btn-filter-a" %>
<% end %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="caps text-center">
                give your two cents. anyone. anything. anytime. anywhere.
                <br>
                <br>
                <a href="https://www.facebook.com/pages/mytwocentsio/251021331737236" target="_blank">
                     <i class="fa fa-facebook"></i>
                </a>
                <a href="https://twitter.com/mytwocentsio" target="_blank">
                     <i class="fa fa-twitter"></i>
                </a>
                <a href="https://plus.google.com/105622011272327226077" rel="publisher" target="_blank">
                     <i class="fa fa-google-plus"></i>
                </a>
            </h4>
            <div class="row">
                <div class="media col-md-6 col-md-offset-3">
                    <div class="btn btn-filter col-xs-6 col-md-6 <%= new %>" data-value="new">Latest posts</div>
                    <div class="btn btn-filter col-xs-6 col-md-6 <%= comment %>" data-value="comment">Last commented</div>
                </div>
                <div class="col-md-6 col-md-offset-3 posts">
                    <%= render @posts %>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div>
        <p class="footer text-center">&copy; 2014 - mytwocents.io. All rights reserved</p>
        <p class="footer text-center"><%= link_to "Terms & Conditions", pages_terms_path %> - <%= link_to "Blog", 'http://mytwocentsio.wordpress.com' %></p>
    </div>
</footer>
