<!DOCTYPE html>
<html>
  <head>
    <title>mytwocents.io</title>
    <%# Mobile responsivenes %>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <%= stylesheet_link_tag 'application', '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">

          <%# Logo normal + mobile %>
          <%= link_to image_tag("logo_white.png", class: "pull-left hidden-xs hidden-sm"), root_path %>
          <%= link_to image_tag("logo_79x45.png", class: "pull-left visible-xs visible-sm logo-sm"), root_path %>

          <%# Only show when in index? %>
          <% if controller_name == 'posts' %>

            <%# New post button %>
            <span class="item pull-right visible-xs visible-sm">
              <%= link_to "<button class='btn btn-default'><span class='glyphicon glyphicon-plus'></span></button>".html_safe, '#', data: {toggle:"modal",target: "#myModal"}  %>
            </span>

            <%# Happy meter %>
            <span class="happy-row navbar-text pull-right visible-xs visible-sm">
              <%= render 'happy_meter' %>
            </span>

          <% end %>

          <%# Logged in user dropdown %>
          <% if user_signed_in?%>
                <%= render 'user_dropdown' %>
          <% end %>
      </div><!--/.navbar-header -->

      <div class="navbar-collapse collapse hidden-xs hidden-sm">

        <ul class="nav navbar-nav navbar-right ">
            <%# Start if %>
            <% if controller_name == 'posts' %>

              <%# Happy meter %>
              <li class="navbar-text happy-row">
                <%= render 'happy_meter' %>
              </li>

              <%# Displays new posts %>
              <li class="new_posts"><%= render 'new_posts', new: 0 %></li>

              <%# New post button %>
              <li><%= link_to "<button class='btn btn-default'><span class='glyphicon glyphicon-plus'></span></button>".html_safe, '#', data: {toggle:"modal",target: "#myModal"}  %></li>
            <% end %>
        </ul>

      </div><!--/.nav-collapse -->
    </div>
  </div><!--/.container -->

  <%= render 'shared/g_analytics' %>
  <%= yield %>
  <%= render 'shared/user_voice' %>

  </body>
</html>
