<!DOCTYPE html>
<html>
  <head>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>mytwocents.io</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to image_tag("logo_white.png", class: ""), root_path %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right ">
              <% if controller_name == 'posts' %>
                <li class="new_posts"><%= render 'new_posts', new: 0 %></li>
                <li><%= link_to "<button class='btn btn-default'><span class='glyphicon glyphicon-plus'></span></button>".html_safe, '#', data: {toggle:"modal",target: "#myModal"}  %></li>
                <!--<li class="counter"><%# render 'posts/counter', number: @number %></li>-->
              <% end %>
            <% if user_signed_in?%>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %><b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "User settings", edit_user_registration_path %></li>
                  <li><%= link_to "Terms of service", pages_terms_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            <% end %>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  <%= render 'shared/g_analytics' %>
  <%= yield %>
  <%= render 'shared/user_voice' %>

  </body>
</html>
